.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  margin: auto auto;
}
.list-preview,
.toDo {
  display: flex;
  margin-left: 35%;
  align-self: flex-start;
}
.del {
  font-weight: 900;
  font-size: 20px;
}
